[2021-09-06 07:12] gdotdesign opened #12 "Schema doesn't show on Firefox"
I was just wanted to let you know that there is a runtime error when trying in Firefox:

![image](https://user-images.githubusercontent.com/302692/132175360-dd09f57f-846d-479a-a7dd-3010d1da31ef.png)

[2021-09-06 08:16] loicknuchel commented on #12
Hi @gdotdesign
Thanks a lot for the report, indeed it's a big problem!
But thanks to you, now it's fixed :tada:

[2021-09-06 08:16] #12 closed

[2021-09-06 14:44] PhBastiani opened #13 "Popup window navigation buttons showing errors are not functional"
Popup window navigation buttons showing errors are not functional

Tested with Firefox

[2021-09-06 14:46] loicknuchel commented on #13
Thanks for the issue, will check that.

[2021-09-06 14:48] PhBastiani opened #14 "The close button of the pop-up showing the errors could be hard to access"
The close button of the pop-up showing the errors could be hard to access

[2021-09-06 15:09] PhBastiani opened #15 "This basic DDL cannot be parsed"
[ddl.zip](https://github.com/azimuttapp/azimutt/files/7116772/ddl.zip)

[2021-09-06 18:34] loicknuchel commented on #15
Hi @PhBastiani

Thanks a lot for the report, it was due to forgetting `\r` ^^
It's fixed now :smile:

[2021-09-06 18:38] loicknuchel commented on #13
After a little investigation, this is the good time for me to improve the import process reporting (will fix also #14 issue if I understand well).
But this will take some time (ie: not tonight ^^).
In the meantime, I fixed #15 so you could be able to play a bit with Azimutt :smile:
I hope you will enjoy!
And again, thanks for the reports :+1:

[2021-09-07 07:45] PhBastiani commented on #15
Fixed with side effect on the display
<img width="190" alt="BugTable" src="https://user-images.githubusercontent.com/900472/132305189-3a741184-d91f-4400-a34d-7a486af179cf.png">

[2021-09-07 12:14] michelc opened #16 "Parse Add CONSTRAINT syntax (enhancement)"
My schema for a SQL Server database contains `ADD CONSTRAINT` for primary and foreign keys. When I try to import this schema, I get several error messages:

* Can't parse add constraint: 'ADD CONSTRAINT [PK_dbo.Travels] PRIMARY KEY ([Travel_ID])'
* Can't parse add constraint: 'ADD CONSTRAINT [FK_dbo.Travels_dbo.Booklets_Booklet_ID] FOREIGN KEY ([Booklet_ID]) REFERENCES ...
* Statement not handled:

[2021-09-07 12:22] loicknuchel commented on #16
Hi @michelc

Thanks for the report!

Indeed, I was not expecting the `[]` in the table and column names, so that's probably why it failed.
Thanks for the example, I will improve the parser to make this work.

In the meantime, if you remove the brackets and also the comments (I handle only `--` for now) you should be able to use Azimutt.

I will notify you when everything works well for you!

[2021-09-07 12:28] michelc commented on #16
Thank you. The `[]` may be from the tool I'm using, but I think it's something very common with SQL Server.

[2021-09-07 12:31] loicknuchel commented on #16
Interesting.
Do you think I should keep them in the name or just remove them to make the name clearer ?
What your other tools do ?

[2021-09-07 12:40] michelc commented on #16
You should remove them from the name. It's like `` around names in MySQL.

[2021-09-08 11:54] opsb opened #17 "Close all button for notifications"
Parsing my postgres schema generated a large number of errors. None of them were important so I was happy to ignore them all but I was left with a large number of notifications to close. A close all button would be really handy.

(happy to open a PR if we agree the design)

[2021-09-08 12:01] opsb commented on #17
Regarding UX, maybe it could be cmd-click? I see there aren't any key combos in the project yet. https://package.elm-lang.org/packages/ohanhi/keyboard/latest/Keyboard could be an option.

[2021-09-08 13:59] loicknuchel commented on #17
Hi, in fact there is a close button but it's on the right, quite small and sometimes not really visible :disappointed:
So yes, could be largely improved :D

An cmd-click option could be fine also (but not sure how to tell it to users ^^).

Will be happy to review a PR from you :+1:

[2021-09-08 21:22] loicknuchel commented on #16
Hi @michelc

I just deployed a new version of the SQL parser and it handle well the example you provided (thanks again for it, it was really helpful), **except the multi-line comments** (sorry, you will have to remove them manually, I still don't know how to manage them properly).

Can you check this out and close the issue if this is fine ?

Thanks!

[2021-09-08 21:24] loicknuchel commented on #15
Hi @PhBastiani

You had no luck of trying it just during the rollout of a bug ^^
It's fixed now.
Can you check this and close the issue if it's fine ?

Thanks!

[2021-09-09 12:25] PhBastiani commented on #15
Great success :)

[2021-09-09 12:25] #15 closed

[2021-09-09 13:39] ComeBertrand opened #18 "Unable to move tables"
I managed to import my schema with no issue, but I can't move some tables that I display which makes it hard to create a layout (especially when they appear on top of each other).

There are no errors appearing in the console as far as I can tell.

[2021-09-09 16:05] michelc commented on #16
Merci !

[2021-09-09 16:05] #16 closed

[2021-09-10 17:50] loicknuchel commented on #18
Hi @ComeBertrand

Thanks for opening this issue.
Can I ask which browser do you use and what did you do to move a table ?

It work better on desktop, with drag (mouse down, then move, then mouse up)

[2021-09-12 11:03] ad-si commented on #18
When loading the base example I can't move the role_user table.

[2021-09-12 12:45] loicknuchel commented on #18
Hi @ad-si
Thanks for your comment.
Indeed, I had a bug which prevented tables with an `_` to be moved ^^
It's fixed now :)

@ComeBertrand, can you check if this fix your problem ? (do you still have some trouble moving tables?)
If it's fine, can you close the issue ? 🙏

[2021-09-14 07:07] loicknuchel opened #21 "Virtual relations (manually created)"
Today Azimutt uses foreign keys as relations between columns (and so tables).
This is great but they are not the only way to do joins.
Some possible joins are either not declared (cf wordpress schema) or could not be declared, for performance reasons or flexibility (ex: polymorphic relations in Rails).

**Virtual relations** are relations present in the database but not declared as foreign keys in

[2021-09-14 07:18] loicknuchel opened #22 "Better table layout algorithm"
Having a nice diagram is not possible without a good positioning.

Currently, Azimutt has the simplest possible layout algorithm: random position.
So it's up to the user to make a clear schema.

Of course Azimutt could do better here, several options:

## 1. Place tables on a grid

Instead of choosing a random position, place tables on a grid (with 50x50 squares for example) and try ti fit a table

[2021-09-14 07:28] loicknuchel opened #23 "Full-text search"
The current search algorithm is based on custom heuristics based on matching part in table and column names but also number of columns or length of the name.
It was great so kick-start it but now the app have matured, we need a better search.

The plan is to use a full-test search library (ex: [flexsearch](https://github.com/nextapps-de/flexsearch), [elm-text-search](https://package.elm-lang.org/p

[2021-09-14 07:38] loicknuchel opened #24 "Undo/redo"
Let's implement an undo/redo algorithm :tada:

Two buttons should be added in the command bar (bottom right), and keyboard shortcuts should be `ctrl+z` for undo and `ctrl+maj+z` for redo.
Use: https://package.elm-lang.org/packages/elm-community/undo-redo/latest

If you see any other shortcut that could trigger an undo or redo, let's comment here ;)
If you want this feature, please leave a :+1: rea

[2021-09-14 11:57] loicknuchel opened #25 "CLI (Command Line Interface)"
Today Azimutt is a web app which parse a database schema and allow to explore it.
That's cool but it requires to open a browser, go to the website, click explore and upload the schema.
Not really a streamlined process when you are working on your app.

You can improve this by installing the progressive web app, so you can launch the app from your desktop and land directly on the app.

We can bring

[2021-09-14 12:02] loicknuchel opened #26 "IDE plugins"
In the goal of having the right tool at the right moment, I think it would be quite nice to have an IDE plugin that could open a SQL file in an Azimutt explorer. Just like a markdown rendering plugin.

In addition, like the [CLI](https://github.com/azimuttapp/azimutt/issues/25), this plugin could be able to load the schema of a real database, simplifying the usage.

If you like the idea, please se

[2021-09-14 12:12] loicknuchel opened #27 "Parse Rails model to extract relations"
Thanks to ActiveRecord, Ruby on Rails has very clear ways of defining the database model, which are much more flexible that what is possible in SQL (ex: polymorphic relations).
Azimutt could parse files of a Rails project, looking for models and load them as a SQL schema.
Even better, we can merge the structure.sql and rails models schemas to have an unified view of the real data model of the appl

[2021-09-14 12:18] loicknuchel opened #28 "Publish Azimutt schema format"
SQL schema are really great and they are even better when augmented with other data sources, for example [Rails models](https://github.com/azimuttapp/azimutt/issues/27).
It's not realistic that I could write all the useful parsers so having a well defined format to import a schema or metadata for a schema could allow user to write their own parsers and import what they need in Azimutt.

We could h

[2021-09-14 18:19] loicknuchel opened #29 "Visualization mode: no columns"
When looking at a database, you often need different levels of abstraction.

Today Azimutt let you search and display tables and follow relations, showing tables with their columns, even if they are hidden.
The idea here is two have an other visualization mode, showing only the tables names and their relations.
With this, you could look a much more tables and better visualize the clusters or links

[2021-09-14 18:25] loicknuchel opened #30 "Table clusters"
Often some tables work in close relation with some others. In fact, it's quite common to have a feature or a business domain which use several tables.
It could be useful to group such tables in a cluster and represent them visually.

[MySQL Workbench](https://chartio.com/learn/databases/7-free-database-diagramming-tools-for-busy-data-folks/#6-mysql-workbench-community-edition) has a similar featur

[2021-09-14 18:29] loicknuchel opened #31 "Real-time collaboration"
Easily exploring your schema is cool, but what about doing it collaboratively with your colleagues.
You can already do this by sharing your screen but it would be much more powerful to have some real-time collaboration features (similar to [figjam](https://www.figma.com/figjam) or [excalidraw](https://excalidraw.com)).

This subject is still quire blurry but if you are interested in it, please lea

[2021-09-14 18:36] loicknuchel opened #32 "Add notes on tables, columns and relations"
When exploring new things, you often discover interesting or unexpected things, having a place where to write them could help a lot later investigations to not start over the same investigations.
Also, as not everything can be parsed and immediately loaded into the schema, it could be very helpful to be able to add some notes about such information.

If you think this should be prioritized in the

[2021-09-14 18:48] loicknuchel opened #33 "Import tables data and display some statistics"
Currently [Azimutt](https://azimutt.app) focus mainly on the database schema, ignoring completely the data inside.
It's easier in term of performance but also privacy and we already have a lot to do ^^

But having access to the data can allow Azimutt to leverage new features:

- search can look into the values so it can be easier to find the wanted table/column
- data statistics can give you inter

[2021-09-16 14:28] ComeBertrand commented on #18
@loicknuchel Yes, it's working fine now! Thx

[2021-09-16 14:28] #18 closed

[2021-09-20 05:00] loicknuchel opened #39 "Browser extension"
Use Azimutt as a browser extension: when you are on github and watch a .sql file (ex: [gospeak.sql](https://github.com/azimuttapp/azimutt/blob/main/public/samples/gospeak.sql)), add a third button next to "Raw" and "Blame" with "Azimutt" label to replace the file content with an Azimutt browser.

Could be done on other locations also.

If you like the idea please send a :+1:  reaction on this issu

[2021-09-22 17:54] loicknuchel commented on #21
Implemented in https://github.com/azimuttapp/azimutt/pull/40

[2021-09-22 17:54] #21 closed

[2021-09-22 18:00] loicknuchel commented on #22
Work is started in https://github.com/azimuttapp/azimutt/pull/37 but still a lot to do...
Any help or advice is more than welcome ;)

Opened questions:
- which algorithm to use (I started experimenting with force layout)
- which libs can help (Elm or JS)
- what do you expect from this (will help define feature shape)

[2021-09-22 20:36] ad-si opened #43 "Can't parse TaskLite's SQLite database schema"
I dumped the schema from [TaskLite](https://tasklite.org) and tried to load it, but get a lot of errors 😅. It's not very long, but I guess I'm making good use of SQLite specific features 😛.

[code]

[2021-09-23 07:48] loicknuchel commented on #43
Haha, will take a deeper look :D

Thanks a lot for the schema, it will help me a lot (as for now I don't implement everything ^^)

[2021-09-23 20:12] loicknuchel commented on #43
Hi again,
I worked a bit on the parser and fixed a few things :) (in https://github.com/azimuttapp/azimutt/pull/45)

But I'm stuck with the case/when/end construct when identifying SQL statements (cf [FileParser.elm#L349](https://github.com/azimuttapp/azimutt/blob/main/src/DataSources/SqlParser/FileParser.elm#L349)), due to missing context in Regex.
If you have any tips here, it will be welcome ;)

[2021-09-24 11:04] loicknuchel commented on #43
Hey, I finally found a way to handle case statements.
You example here is working well.

Can you please confirm and close the issue if it's fine for you ?

[2021-09-24 14:14] ad-si commented on #43
Awesome, works like a charm! 👏
Thanks for your efforts! 😊

[2021-09-24 14:14] #43 closed

[2021-09-24 14:16] ad-si opened #47 "Different UI for tables and views"
They are 2 quite different things under the hood, so I guess they also should look different.

[2021-09-24 14:40] loicknuchel commented on #47
You are right!
I have thought of this quite a lot but weren't able to come up with a good design to express this difference.
Maybe a different color in the header, an icon in front of the name or having it in italic or with a dashed underline...
Do you have any idea/preference ?

[2021-09-24 15:27] ad-si commented on #47
All of them! 😛
I think the design should be quite different, so that there is absolutely no chance to accidentally misinterpret a view as a table and vice versa

I think i'd go with something like:

- Different background color (gray?)
- Icon left of the header text
- Italic font in header
- Different pattern for the header color (striped?)

[2021-09-24 21:08] loicknuchel commented on #47
Haha, interesting. Didn't though of having so different UI, I will have to do some tests to see how it feels ^^
Maybe add also a little bit of transparency for views...

An other thing, I plan to add a project setting to enable or not the views, so you will be able to hide them if they are not relevant at some time.

[2021-09-25 15:26] loicknuchel commented on #33
A data explorer within an erd tool would be interesting but that would be a really large task. Data exploration is a very big topic, especially in statistics and machine learning. But to my knowledge it‘s still mostly a manual task or very expensive (SPSS)
If it has data exploration one day i would be happy if you ping me ;) Something like excel‘s smart filters for seeing values and the data distr

[2021-09-30 13:32] hansvb commented on #17
Slightly related (small nuisance so maybe not worth a separate issue): when I scroll using touchpad over the (red) errors, when my mousepointer is on the background-area (gray) it scrolls the background-area instead. It would be better if all the errors were in one (transparent) container-widget?
<img width="369" alt="image" src="https://user-images.githubusercontent.com/8103741/135464736-14d7e65a

[2021-10-01 18:50] loicknuchel commented on #17
Hi @hansvb

Thanks for your comment.
It's clearly a not ideal UI and I'm currently looking into improving it.

My current take is to move away from this "quick and dirty" UI and open a report modal at the end of the import with some logs inside, so it's clearer for you to see what happened.

What do you think about this?

[2021-10-13 19:05] kiendang opened #50 "Search result dropdown list does not go away when clicking on canvas"
As title says, the search result dropdown list does not go away when clicking on the main canvas, only when clicking on the menu bar.

Cool app btw!

[2021-10-17 19:07] kiendang commented on #50
Great! Looking forward to the UI revamp.

[2021-10-25 15:14] zachdoctolib opened #54 "Table dropdown menu position changes when zooming out"
Tested on Google Chrome Version 94.0.4606.81

https://user-images.githubusercontent.com/85943952/138722553-5f6c5fc8-2dcb-4015-afc0-fcca5842bd30.mov

[2021-10-29 18:18] #47 closed

[2021-10-29 18:19] loicknuchel commented on #47
Hi @ad-si
I changed the design to identify views with some italic and underline in view name header. I hope it will be clear enough.
I also added some options to hide views if you don't need them.

[2021-12-02 06:57] loicknuchel commented on #17
Hi everyone,

I'm working on a new UI that will improve this and just wanted your feedback on my current (new) design:

![screencapture-localhost-8000-projects-new-2021-12-02-07_54_24](https://user-images.githubusercontent.com/653009/144372933-c4ec6663-14a9-45ec-ac03-2d6974b1063c.png)

What do you think?

[2021-12-02 06:58] loicknuchel commented on #13
I'm closing this issue as it will be addressed in https://github.com/azimuttapp/azimutt/issues/17.
Feel free to reopen if it's different.

[2021-12-02 06:58] #13 closed

[2021-12-02 06:59] loicknuchel commented on #14
I'm closing this issue as it will be addressed in https://github.com/azimuttapp/azimutt/issues/17.
Feel free to reopen if it's different.

[2021-12-02 06:59] #14 closed

[2021-12-04 09:15] loicknuchel opened #58 "Better table placement"
Today table placement is random (as auto layout is quite hard, but still planned).
But as mentionned by @Yarith in [his feedback](https://github.com/azimuttapp/azimutt/discussions/53#discussioncomment-1747697), we can easily do much better.

### When opening a linked table (foreign key):

Place it at the right of the current one.
For example: same top coordinate and left = right side + 50 px.

###

[2021-12-04 09:25] loicknuchel opened #59 "Make selected and dragged tables more visible"
A very interesting idea from @Yarith in [his feedback](https://github.com/azimuttapp/azimutt/discussions/53#discussioncomment-1747697) is to move dragged tables to the top. We could also apply this to selected ones.
This would allow to very easily see a table without breaking the layout.

What I suggest: when a table is dragged or selected, increase its z-index by the table count.

[2022-01-29 13:04] loicknuchel opened #62 "Draft database changes inside Azimutt (manually add tables, columns and relations)"
Azimutt goal is to explore a database schema, but once you want to evolve it it would be useful to draft the changes directly inside it.

But these draft changes should not break the real schema. For that, we can leverage the multi-source feature to create a user source per draft change, allowing to toggle it as needed.
In a first implementation, this source could be filled with a text input havin

[2022-02-13 15:38] loicknuchel opened #65 "Add a setting to display simplified types"
Currently Azimutt display the exact type for each column of the table, this is nice but sometimes not necessary and take a lot of space in the UI, for example `character varying(255)` or `timestamp without time zone`.

**This issue suggest to add a display setting so users can choose to display simplified types instead of exact ones.**
Having a way to reveal the underlying exact type would be nice

[2022-02-13 15:41] loicknuchel opened #66 "List tables and relations of a source"
In the settings sidebar, there is a list of source with delete and refresh buttons. This issue propose to add a "view" button. This button would open a modal and list all the tables and relations (in different tabs) for this source.

This would be useful to know what is inside each source, especially for the user defined ones!

[2022-02-13 15:44] loicknuchel opened #67 "When open dialogs (modal, sidebar...), update the URL so the state is shareable and stay on reaload"
Seems everything is defined in the title ^^

Just one thing, I think having this state as query string or hash would be nicer than path.

[2022-02-13 15:45] loicknuchel opened #68 "When a layout is in use, update the URL path to make it sharable"
Hope it's clear enough ;)

[2022-02-13 15:48] loicknuchel opened #69 "Allow to change the table color"
Currently table colors are defined by their name, which is nice to get started but to have a beautiful diagram it could be useful to allow users to choose the wanted color.

In a first iteration, let's allow only predefined colors so it will be easy to implement.

[2022-02-13 20:00] loicknuchel commented on #54
Hi @zachdoctolib
I finally released my big bang refactoring and it's fixed now ;)
So closing the issue.
Feel free to open more if you see other bad things.

[2022-02-13 20:00] #54 closed

[2022-02-13 20:01] loicknuchel commented on #50
Hi @kiendang
The UI revamp is finally done!
Took me quite some time but it's released now, and the search problem is fixed.
So I'm closing this issue, feel free to open others if you see other problems or have feature ideas ;)

[2022-02-13 20:01] #50 closed

[2022-02-13 20:04] loicknuchel commented on #17
Hi @opsb and @hansvb
I finally finished and deployed my UI revamp. I drastically changed the project creation and it should be much better now so I will close this issue.
Feel free to open again or other if you see some possible improvements.
Cheers!

[2022-02-13 20:04] #17 closed

[2022-02-16 12:25] #58 closed

[2022-02-16 14:35] alxckn opened #71 "Cannot unhide a column using the Project Settings"
There is a feature to easily hide columns using specific name, regexes or through 'intelligent' checkboxes:
![image](https://user-images.githubusercontent.com/11556013/154286265-331e81ed-ec0e-4210-9127-185a265545a8.png)

I can easily hide a new column or a set of column, but clearing the text input or unchecking one of the checkboxes will not make it re-appear on the screen. I have to reload the p

[2022-02-16 14:42] loicknuchel commented on #71
Hi Alexandre,

This is not a bug, it's a feature ^^
More seriously, this is the intended behavior because I don't know if the field was hidden because of a global rule or manually (I just have an ordered list of shown fields ^^).
But I get it's disturbing, I will see what I can do.

[2022-02-19 15:26] loicknuchel commented on #65
done!

[2022-02-19 15:26] #65 closed

[2022-02-20 13:51] loicknuchel opened #73 "Create a walkthrough to help user discover essential features"
Discovering important feature of an app may be hard if you don't know where to look. I don't like product tour as they interrupt UX and get in the way of users but gamified checklist of things to do seems quite nice!

Inspiration example from Tweet Hunter:
![Screenshot from 2022-02-20 14-42-55](https://user-images.githubusercontent.com/653009/154845558-3ee7b023-5ccc-4f6c-9729-3eedceccd0f5.png)

So

[2022-03-19 00:50] dev-danilosilva opened #81 "README typo"
Read has a minor typo in the [Architecture](https://github.com/azimuttapp/azimutt#architecture) section where the `PageComponents` namespace is written `PageComonents`.

[2022-03-19 00:50] dev-danilosilva commented on #81
Adressed this minor typo fix in this  PR  #80

[2022-03-31 07:59] #29 closed

[2022-04-03 08:41] #81 closed

[2022-04-05 19:35] loicknuchel opened #84 "Azimutt Markup Language"
Let's define a simple DSL to define database schema :tada:

Proposal: https://azimutt.app/blog/aml-a-language-to-define-your-database-schema

[2022-04-11 19:03] #32 closed

[2022-04-13 05:07] nicokosi opened #87 "CSS issues when running locally via `elm-spa server`"
Hello 👋,

I am curious about this project. I am trying to launch it on my machine in order to explore some databases. Badly, CSS issues visibly occur after launching `elm-spa server`:
<img width="1440" alt="Screenshot 2022-04-13 at 06 21 48" src="https://user-images.githubusercontent.com/3862051/163099863-90bca265-df4b-46b6-8134-1af3ef5122da.png">

For information:
* [installation/start logs](http

[2022-04-13 08:22] loicknuchel commented on #87
Hi @nicokosi

I think you didn't run the tailwind command: `npx tailwindcss -i ./public/styles.css -o ./public/dist/styles.css` (it's listed in dev commands but it's not clear at all, I should improve the readme ^^)

Tell me if this fix the problem.

[2022-04-13 14:12] nicokosi commented on #87
Thank you @loicknuchel!
I tried on another machine and I got this error:
[code]

Anyway, I think I will try on https://azimutt.app/ in the next days. I'll keep you updated.

[2022-04-14 07:37] loicknuchel commented on #87
Ah shit! I will have to fix this.

[2022-04-14 11:28] loicknuchel commented on #87
I used `replace` instead of `replaceAll` so it should be fine now ;)
Could you try it and tell me?

[2022-04-14 13:06] #87 closed

[2022-04-14 13:07] loicknuchel commented on #87
Thanks to you, the README is now better :tada:

[2022-04-15 06:59] loicknuchel opened #89 "Make Azimutt mobile friendly"
Even if mobile is not a real target for Azimutt, it will probably be used to try it out quickly so it could be great to have at least basic features working (storage and drag).

Why it's not a real target:
- it's much easier to have a big screen to see your diagram
- you need to import your database schema, you probably don't have it on mobile

Why it will be used:
- people clicking on a Azimutt l

[2022-04-15 07:04] loicknuchel opened #90 "User source with AML"
Currently Azimutt is mostly a database schema explorer. We can "easily" add a database builder to allow people to create or evolve diagrams right into Azimutt.

As Azimutt already have multiple source, the goal here is to allow to create/edit user source written in AML (see: https://azimutt.app/blog/aml-a-language-to-define-your-database-schema)

For that we will need a text editor (https://micros

[2022-04-15 07:09] loicknuchel opened #91 "Azimutt desktop app"

[2022-04-15 07:16] loicknuchel opened #92 "Database connection source"
Extract schema from a database using a database connection (more reliable and convenient than parsing SQL ^^).

On the web we will proxy the connection through our backend, on [desktop app](https://github.com/azimuttapp/azimutt/issues/91), it can be done locally.

For that, we should create a new kind of source with all the handled database possibilities and perform queries on them.

[2022-04-15 07:43] loicknuchel opened #93 "List tables & relations in a source"
Add a view button on source to show its content (mainly tables & relations)

[2022-04-15 07:44] loicknuchel opened #94 "Manually change table color"
Table colors are algorithmically defined but it would be nice if users could change them, either in the UI or programmatically.

[2022-04-15 07:46] loicknuchel opened #95 "Check source status"
For source that could be automatically fetched (remote file and later database connections), check if the source has changed and notify the user to update it in this case.

[2022-04-15 07:48] loicknuchel opened #96 "Table details pane"
Create a table details pane to show more information than currently displayed on the diagram such as:
- from which source it comes from with lines
- in which layout/group it's included
- any other interesting info that don't fit into the diagram

[2022-04-15 07:52] loicknuchel opened #97 "Remote storage"
Currently Azimutt projects are saved into browser localStorage or IndexedDB. This is nice for privacy but not for collaboration.

The goal is to allow for some remote storage, either in Azimutt servers or private servers (to keep privacy).

[2022-04-23 09:31] loicknuchel commented on #39
Done in https://github.com/azimuttapp/azimutt/pull/100

[2022-04-23 09:31] #39 closed

[2022-04-28 18:56] loicknuchel commented on #94
Done in https://github.com/azimuttapp/azimutt/commit/62852c77611488b3dd0a34b446e573e9189b4c86

[2022-04-28 18:56] #94 closed

[2022-04-28 18:57] loicknuchel commented on #69
Done in https://github.com/azimuttapp/azimutt/commit/62852c77611488b3dd0a34b446e573e9189b4c86

[2022-04-28 18:57] #69 closed

[2022-05-07 22:22] michi-zuri commented on #21
It would be nice if virtual relations were visually more distinguishable from foreign key constraints. Right now, when I create a virtual relation I'm not sure how I'd know that it's markup and not a fk relation if I didn't add the relation myself.

[2022-05-07 22:25] michi-zuri opened #102 "Hovered comments that overlap other tables should always be on top"
I have comments on my tables with SQL code like
COMMENT ON TABLE foo IS 'bar';

If bar is a very long comment it often overlaps visually with other tables and sometimes the comment is hidden behind those other tables. Since the comment is only shown on mouse hover, it should always be on top of everything else, so the user can actually read the whole comment.

[2022-05-08 14:19] loicknuchel commented on #102
Hi @michi-zuri, thanks for the issue.
Indeed this is a very frustrating!
I looked into it and it's due to z-index being in a different DOM tree. I don't really know how to solve this for now, except moving it in an isolated one but I will have some position issue.
Still investigating, will keep you posted.

[2022-05-08 14:23] loicknuchel commented on #21
Yeah, I see what you mean.
For Azimutt, virtual relation are normal relations but in an other source. So they are not that different but indeed I could identify them. The bigger question for me is how to make them distinguishable? Color is already used for source table and dashed ones are for nullable foreign key. Maybe a dotted one? What do you think? Not sure if it would be clear.

[2022-05-12 06:59] michi-zuri commented on #21
Yeah, it's not that easy I guess, because they may also be nullable or not. A special stroke-dasharray like 35,10,5,10,5,10,5,10 for nullable and 35,10 for required virtual relation might work?

[2022-05-24 07:14] loicknuchel opened #104 "Find missing relations with query log analysis (desktop app)"
From https://twitter.com/ergestx/status/1525458482085912576

[2022-06-05 05:21] #97 closed

[2022-06-21 15:16] #23 closed

[2022-06-25 18:27] #90 closed

[2022-07-01 11:54] rebelwarrior opened #106 "Where is the link on how to generate the schema in sql?"
Looked for it but can't find it.

[2022-07-01 11:56] loicknuchel commented on #106
Look at "How to get my database schema?" in https://azimutt.app/projects/new
Or see https://stackoverflow.com/questions/51552470/dbeaver-export-from-database-postgres-table-structure-properties-into-file/54504510#54504510 directly ;)

[2022-07-01 12:01] rebelwarrior commented on #106
So I looked in stack overflow and couldn't find a way to do it from the command line. I looked in the website and was unable to find instructions on how to do it. It is hard enough that my team of programmers couldn't do it when I requested it. So any help on the website is very needed and super... eh... helpful.

[2022-07-01 12:01] #106 closed

[2022-07-01 12:40] rebelwarrior commented on #106
Today I learned that DDL is Data Definition Language and generates the SQL schema. :)

[2022-07-03 20:40] loicknuchel commented on #106
Haha, always be learning ;)

[2022-07-04 16:45] aneudy91 commented on #30
Azimutt will support SQL Server? I mean create a diagram directly from SQL Server engine.

If this happen, in SQL Server we use schema for grouping objects.

[2022-07-04 20:42] loicknuchel commented on #30
Do you mean connecting to the database and extract the schema?

Yes, it's the next feature ^^ https://github.com/azimuttapp/azimutt/issues/92
(probably for september or october as it's a big one).

Still you can already import your database schema with multiple schema inside, or even import multiple schema in multiple sources. What you will miss, and it's the goal of this issue is to visually grou

[2022-07-04 22:53] aneudy91 commented on #30
Yes, i mean connecting to the database and extract the schema!

I get some errors trying import SQL Server auto generate script from a large database, i think because the script contains a bunch of SQL Server particular stuff.

I will try with a more clear script.

[2022-07-05 06:54] loicknuchel commented on #30
Ok. I'm trying to get a flexible SQL parser to handle all the dialects as much as possible (but of course, still have a lot of wholes ^^).
If you can send me the errors I can fix it so it will work for you without changing anything (and for other people also ^^).

[2022-07-25 12:09] #28 closed

[2022-07-25 12:09] #92 closed

[2022-07-25 13:12] #62 closed

[2022-07-25 13:15] #84 closed

[2022-08-13 00:25] ashrafsabrym opened #113 "Support sql-server database import"

[2022-08-13 06:37] loicknuchel commented on #113
Hi @ashrafsabrym thanks for the request.
Will work on it probably in september and will keep you informed here :)

In the meantime, you can export your database schema and import it as SQL file in Azimutt ;)

Have a great day,
Loïc

[2022-08-19 09:01] DpkTewatia opened #114 "Support mysql database import"

[2022-08-19 09:04] loicknuchel commented on #114
Hi @DpkTewatia thanks for the request.
Will work on it probably in september and will keep you informed here :)

In the meantime, you can export your database schema and import it as SQL file in Azimutt ;)

Have a great day,
Loïc

[2022-08-26 11:05] SreedevT opened #115 "Support sqlite database import"

[2022-08-26 11:08] loicknuchel commented on #115
Hi @SreedevT , thanks for your request!

I'm adding Sqlite to my backlog and will probably work on it in the second part of september.
In the meantime, you can export your Sqlite schema and import it as a SQL file in Azimutt ;)

Have a great day.

[2022-08-30 12:59] ahoy-jon opened #116 "CMD + S trigger "save page as.""
![image](https://user-images.githubusercontent.com/83247/187441968-12fac09c-b5c1-4b2f-b7d6-2d876e7f2b68.png)

On chrome : Version 104.0.5112.101 (Official Build) (arm64)
When I type : " CMD + S" as suggested in the menu, it opens the dialogue for a page save :
![image](https://user-images.githubusercontent.com/83247/187442340-1cc55b8e-9ef1-465e-b85b-7321bc50bf50.png)

[2022-09-02 01:32] ahoy-jon opened #117 "Export in SQL (DDL)"
With a view, would it be possible to export it in SQL?

[2022-09-02 12:01] ahoy-jon opened #118 "Left panel problem"
![image](https://user-images.githubusercontent.com/83247/188137839-f839ff0d-f76f-4fff-aaac-17ad8c8c49b5.png)

I have this issue in the latest chrome, and the WebKit of a desktop app (notion.so)
There is nothing in the logs.

[2022-09-02 12:03] loicknuchel commented on #118
Ooups... Thanks for reporting :+1:

[2022-09-02 12:08] #118 closed

[2022-09-02 12:10] loicknuchel commented on #118
Fixed!

[2022-09-02 12:24] loicknuchel commented on #117
Hey!
What do you want to export in SQL precisely?
Just one view (or table)? The content of a layout? (only visible columns?) Everything present in the project?
Could you describe a bit more your use case?

This is not planned for now but should not be too hard (just a bit long for every db system ^^).
In the meantime, as you can access your project content in the JS console, you can do it "by hand

[2022-09-02 12:26] loicknuchel commented on #102
Hi @michi-zuri
This is finally done! (didn't forgot you but took time to solve ^^)

[2022-09-02 12:26] #102 closed

[2022-09-02 12:30] loicknuchel commented on #91
Hi @mingfang, I so you disliked this issue, would you be able to give a bit more context?
Do you think it's not very important and other ones should be prioritized or do you think it's a bad idea?

[2022-09-23 16:05] michi-zuri commented on #102
That's great! I aiso noticed the new notes feature, very cool!

[2022-09-23 17:49] loicknuchel commented on #102
Glad you like it!
Will be improved soon...
Don't hesitate if you have other suggestions ;)

[2022-09-25 14:26] G2G2G2G commented on #116
With how many hotkeys you use, I'd say using a popular library might not be a bad idea.. and adding more hotkeys with it's usage
https://github.com/ccampbell/mousetrap
[code]

Also please get rid of the alt hotkeys, those open menus in browsers. Due to the nature of your app and being pretty streamlined/easy and not having to type much at all in it, I would use single letter hotkeys all over to do

[2022-09-25 14:53] G2G2G2G opened #121 "a way to signify links that also change over time and will not be the same?"
Not sure if there's a term for this at all, it's pretty common situation where certain items are copied from other columns of a database and can never be used for an "INNER JOIN" type of query because they are subject to change, unlike keys and such.

I'll do an example here, I think the simplest is a payment system where you copy the hours but they change over time
[code]

[code]

do the userid h

[2022-09-25 17:34] loicknuchel commented on #116
Hi @G2G2G2G thanks for the feedback.
Seems totally reasonable!
I'm quite busy for the new version right now but I hope to fix this soon.

[2022-09-25 19:51] G2G2G2G commented on #116
That's the elixir backend one? any places to read what is going on there? thanks

[2022-09-25 20:15] loicknuchel commented on #116
Yep, it's right here: https://github.com/azimuttapp/azimutt-backend ;)
But still a lot of big changes ongoing, ultimately it will land in this repo with: https://github.com/azimuttapp/azimutt/pull/120 ^^

[2022-10-23 21:08] michi-zuri opened #127 "AML editing pane too hidden"
Hi Loïc

It took me until now literally several hours since September to find this Update Schema button, even though I was trying really hard to find a way to edit custom sources without editing the downloaded json project file:

![grafik](https://user-images.githubusercontent.com/26734536/197418034-555a60ad-72b6-4460-beb2-7c5301b99fb1.png)

since I was expecting this functionality here in the Set

[2022-10-25 10:01] michi-zuri commented on #127
Great, I'm really looking forward to prototyping data models now with AML ! Thanks so much for sharing this with the world!

[2022-10-25 11:44] loicknuchel commented on #127
Awesome!
I hope you will like it as much as I do ;)

[2022-10-25 20:04] loicknuchel commented on #127
Hi @michi-zuri
Deployed the fix, closing the issue.
Don't hesitate to check and re-open if you still see improvements.
Cheers!

[2022-10-25 20:04] #127 closed

[2022-10-25 20:07] loicknuchel commented on #116
Hey @ahoy-jon & @G2G2G2G
Should work now. Can you check?

[2022-10-25 23:21] ahoy-jon commented on #116
it works on my side.

On Tue, Oct 25, 2022 at 10:07 PM Loïc Knuchel ***@***.***>
wrote:

[2022-10-26 07:16] loicknuchel commented on #116
:+1:

[2022-10-26 07:16] #116 closed

[2022-10-26 23:16] G2G2G2G commented on #116
I don't use mac but emulating a command it seems good lol

[2022-10-31 05:56] meichhorn-conet opened #128 "Permalink for generating svg/png files"
Hi,

first, great tool. thx.

One feature that i missed is to generate permalinks for generating svg/png files.

[code]

With this, the link to the png can be used in some markdown wikis for documenting

[2022-10-31 08:51] loicknuchel commented on #128
Hi @meichhorn-conet

Indeed that's a very good idea :smile:

I'm not really sure how to do it but will give some thoughts.
Naively, this seems huge work as the UI is fully rendered client-side.
Did you already do that for an app?

[2022-10-31 11:36] meichhorn-conet commented on #128
I dont know your infrastructure behind your azimutt.app. As cloud developer, I would push generating png files into a docker/kubernetes/fargate (Aws) container. Inside the container I would use playwright for creating screenshots.

[2022-10-31 19:17] willlma opened #129 "Pinch to zoom"
Thanks for the intro to Azimutt today, @loicknuchel!

On Mac, it's quite common to pinch to zoom on the trackpad and works in apps like Figma and Excalidraw. I'd love to see the same on Azimutt.

Thanks!

[2022-11-03 21:15] matbgn commented on #31
Would definitely love it for internal DB design jam !

[2022-11-08 16:31] alxckn opened #131 "Obsolete information"
When creating a new project using a .sql file, the FAQ below needs to be updated to be in sync with the new version (optional backend storage)

![image](https://user-images.githubusercontent.com/11556013/200621687-617107f7-e7e0-46b8-8277-91500e2d81af.png)

[2022-11-08 16:32] loicknuchel commented on #131
Ah yes, thanks! Will change that.

[2022-11-08 16:48] alxckn opened #132 "Only remove table from current view if it does not exist anymore (AML)"
When deleting a table definition from AML, it systematically hides the table in the view even if it still exists.

For example, I use a custom AML source 'default' to update an existing `account` table with a `title` column:
![image](https://user-images.githubusercontent.com/11556013/200624710-1b6060b4-517d-4ce6-91b5-378d691bff13.png)
(account table is also defined elsewhere as there is an `id` co

[2022-11-10 01:14] stacy-rendall opened #133 "Projects list - cannot delete projects"
TLDR; it should be possible to delete Projects from the Projects list.

Azimutt is really awesome, but not sure if I am just using it wrong because I keep getting a "404 ERROR Project not found" when I try to open a project after a couple of days (haven't quite worked out why this happens). I have been keeping my data backed up, so I have to import it again, but now I have the same project in my l

[2022-11-10 01:16] stacy-rendall opened #134 "Have to sign in every day"
I am using the PWA version of the app (which mostly works awesome), but the one problem I have is that it requires me to sign in every day I use the app - can the token lifetime be extended or something?

[2022-11-10 01:21] stacy-rendall commented on #133
Note: the root error may be some kind of sync issue...?

[2022-11-10 13:59] loicknuchel commented on #133
Hi @stacy-rendall

Thanks for your kind words, I'm happy you like Azimutt :D

Azimutt has 2 kind of projects, local ones and remote ones. The first ones are stored in your browser (most probably indexedb) and the later ones are stored on Azimutt servers.
If you have a local project but open it in an other browser or in a private navigation mode, then it's expected to be not found.
Otherwise we sho

[2022-11-10 14:00] loicknuchel commented on #134
Hi!
Oh, you are among the rare users of the PWA, congrats ;)
This is strange because I don't need to sign in every day... Will look into this next week.
Do you have more details to share to help us investigate?

[2022-11-14 01:58] stacy-rendall commented on #134
Every time I open the PWA (have tried numerous delete/install cycles, no change) I get the "No legacy projects! Well done!" screen.

On clicking "Back to dashboard", then first time each day I get "Please login before accessing the required page.". I don't have to actually enter credentials, but it is a clunky process of clicking sign in and waiting a while.

[2022-11-14 02:05] stacy-rendall commented on #133
Thanks, they are local projects - using devtools I can see projects in the IndexedDB. I have been using the same browser, but I have deleted (including clearing data) and reinstalled the PWA a bunch of times.

I guess the confusion is why do local projects appear in the projects list, when they don't actually exist locally? Seems like the list of local projects is backed up remotely (which is fine

[2022-11-14 08:24] loicknuchel commented on #133
Yeah totally!
Local project metadata are saved in the server. If you clear your storage you will lose them but they will still be listed.
I should definitely add a delete option!
Will do soon.
Thanks for letting me know.

[2022-11-14 08:24] loicknuchel commented on #128
Thanks.
Will investigate that.

[2022-11-14 08:26] loicknuchel commented on #134
Oh I see.
Indeed this launch screen worked with the previous version but is a bit off now.
Will fix this and let you know.

[2022-11-14 13:15] loicknuchel commented on #133
You can now delete a project from the 404 page :)

[2022-11-17 20:02] #132 closed

[2022-11-18 23:06] kartikeyporwal opened #139 "Docker Support"
Hi, Thanks for developing this project.

I tried to build and run this but I encountered so many errors because the stack looks unique. Please consider providing the docker support to test `azimutt`. I am sure there would many users who find such difficulty and would love to test using Docker.

[2022-11-20 14:20] loicknuchel commented on #139
Hi @kartikeyporwal

Indeed, setting up everything can be quite challenging.
We reached a point we can now focus a bit more about distribution and clearly Docker is in our list.
Not sure when we could set it up but most probably before the end of the year.

Thanks for your interest, don't hesitate to send other feedback or cheers ;)

[2022-11-21 17:52] cmccoy98 commented on #114
Any update on this feature?

[2022-11-21 18:09] cmccoy98 opened #140 "Add self-hosted support"
Hello,

Currently would like to have access to hosting the repository locally when not connected to the internet. Are there plans in the future for the project to support this?

[2022-11-21 23:16] loicknuchel commented on #140
Hi @cmccoy98

Not sure what you want exactly.
If you are looking for a self-hosted solution, we plan to propose a Docker installation: https://github.com/azimuttapp/azimutt/issues/139
Is it  what you are looking for?

[2022-11-21 23:25] loicknuchel commented on #114
Hi @cmccoy98
We clearly have it in mind but have a lot to do (like Docker installation and others).
The biggest parts is looking into MySQL internals to know which query to use to extract the needed data (like in https://github.com/azimuttapp/azimutt/blob/main/backend/lib/azimutt/analyzer/postgres.ex).
If you can build such queries, it would be easier for us to move forward quickly on this.

[2022-11-22 02:32] stacy-rendall opened #142 "Fit diagram to screen flaky"
The "Fit diagram to screen" button doesn't seem to work very well. The issue can be reproduced with an example project:

1. New project
2. Export Sample > Gospeak.io (26 tables) > Load sample
3. Use "-" button to zoom out to (for example) ~25%
4. Hit "Fit diagram to screen" button

Result: diagram disappears, and it can be hard to find
Expected result: Azimutt pans/zooms so that diagram fits to sc

[2022-11-22 02:40] stacy-rendall opened #143 "Possible enhancements: Minimap, unlimited zoom out, go to table"
I've noticed a few issues with Azimutt, which made me think up a few possible enhancements:

1. #142
2. Sometimes when pasting an AML file in a large diagram (> 40 tables) the new tables get put in a random place (sometimes quite far from the rest of the diagram), and can be difficult to hunt down

I think the following enhancements would improve the usability of Azimutt:

1. a minimap would make

[2022-11-22 02:44] stacy-rendall commented on #22
I think Grid would be a valuable addition to Azimutt, and comparatively simple to implement (compared to the proposed layout algorithms). The layout algorithms would be nice to have in the distant future, but a toggle-able grid would help users get 95% of what they need easily.

[2022-11-22 02:50] stacy-rendall commented on #33
I feel like this should not be a focus of Azimutt development - it would be better to concentrate on making a great ERD tool than muddy the target with some of these kind of things (perhaps a separate tool but in the same "stable"?)

[2022-11-23 20:53] loicknuchel commented on #143
Hi @stacy-rendall
Thanks a lot for your feedback!

Yes, the current random placement is far from ideal and indeed a grid one won't be too difficult to implement. I'm adding it to the next topics to work on, but not sure when it will be available. For the end of the year we are focusing on distribution and making Azimutt easily accessible from several places.

For the minimap, I don't know how to d

[2022-11-23 20:56] loicknuchel commented on #142
Thanks for the report.
I noticed some cases where it's not working as expected.
Already tried to debug but without much success so far.
I will give it an other try but not too long as, as frustrating as it can be, it's not really deal breaker (even if doesn't reflect the level I want Azimutt to be).

[2022-11-23 21:00] loicknuchel commented on #129
Hey @willlma

Late answer but answer anyway :wink:
Indeed I have it in mind but I don't know really how to handle it with Elm and as I don't have a Mac, it's quite hard to experiment.
I'm keeping it in mind but to be honest our current priority is improving the distribution (heroku plugin & docker install coming soon)

[2022-11-23 21:04] stacy-rendall commented on #143
Thanks @loicknuchel!

I am interested in helping with Azimutt development, but it won't be until next year, minimap could be a fun one to start on :)

[2022-11-23 21:05] #140 closed

[2022-11-23 21:22] loicknuchel commented on #143
Hey, glad to hear that :wink:

No problem, we are already very busy on many topics so anytime is good for you works for us ^^
Let us know.
Cheers!

[2022-11-30 22:00] loicknuchel commented on #143
Hi!

Just to let you know I fixed your points 2 & 3:

2. You can now zoom until 0.1% (instead of 5%), I have to be strictly greater than 0 otherwise the diagram disappear ^^
3. In search, if you click on an already shown table, the diagram will navigate to it (select it at the center), but I don't think changing the zoom is meaningful

Tell me what do you think.
There's only the minimap left now ;

[2022-11-30 22:04] stacy-rendall commented on #143
That's brilliant, can confirm that both are working great :)